* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFE4E1;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  padding-top: 100px;
}

.notification {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #7FFFD4;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}
